html, body{
    margin: 0;
    border: 1px transparent;
}

.img-fundo{
    background-image: url("../images/hero-food.jpg");
    background-size: cover;
    margin-top: 0;
    width: 100%;
    height: 450px;
    display: flex;
}

.main-header{
    background-color: rgba(3, 3, 3, 0.5);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: max-content;
    position: fixed;
    z-index: 1;
    top: 0;
}

.main-nav{
    margin-left: 140px;
    min-width: 500px;
}

.info-gerais{
    margin-right: 175px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 16%;
}

#info-gerais__login{
    display: flex;
    align-items: center;
    align-content: center;
}

#info-gerais__login span{
    margin-left: 5px;
    font-size: 1em;
    min-width: max-content;
    color: rgba(255, 255, 255, 0.8);
}

.main-nav ul{
    display: flex;
    list-style: none;
    min-width: 400px;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.list-menu li{
    margin: 16px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
}

 li a:hover{
    color: rgb(255, 255, 255);
}

.account-icon{
    width: 20%;
    min-width: 20px;
    max-width: 55px;
    background-color: rgba(255, 255, 255);
    border-radius: 50%;
}

.twitter-icon, .instagram-icon{
    width: 20%;
    min-width: 20px;
    max-width: 24px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
}

.main-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
    font-family: 'ELEGANT', sans-serif;
}

.main-title h1{
    display: inline-block;
    align-self: center;
    font-size: 50px;
    position: relative;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    position: relative;
    top: -146px;
}

.container-menu{
    background-color: rgb(255, 255, 255);
    padding-top: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    position: relative;
    top: 20px;
}

.item-categoria{
    width: 90%;
    padding-top: 20px;
}

.item-categoria h2{
    border-top: solid 2px rgb(0, 0, 0, 0.7);
    border-bottom: solid 2px rgb(0, 0, 0, 0.7);
    font-size: 2em;
    font-family: Elegant;
    padding-top: 20px;
    padding-bottom: 20px;
    color:rgb(226, 195, 21);
    margin-top: 0;
}

.item-categoria p{
    font-size: 1.2em;
    font-family: monospace;
}

.item-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item{
    display: flex;
    align-items: center;
    margin: 35px;
}

.item__imagem{
    width: 120px;
    height: 120px;
}

.item__main-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.item p{
    font-size: 1.2em;
}

.item__infos{
    width: 100%;
    margin-left: 30px;
}


.line{
    min-width: 50%;
    border: 1px dashed rgba(0, 0, 0, 0.6);
    height: 0;
}

.menu_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(117, 111,99, 1);
    width: 100%;
    height: 50px;
    color: white;
    position: relative;
}